.nav-tabs{
    float: left;
    width:100%;
    margin: 0;
    list-style-type:none;
    border-bottom: 1px solid lightblue;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;


}
.nav-tabs >li >a {
    margin-right: 2px;
    line-height: 1.5;
    padding:10px;

    border: 1px solid lightblue;
    border-radius:  4px 4px 0 0;
    float: left;
}

.nav-tabs >li.active >a,
.nav-tabs >li.active >a:hover,
.nav-tabs >li.active >a:focus{
    color: #00A0D1;
    cursor: default;
    background-color: white;
    border: 1px solid #ddd ;
    border-bottom-color: transparent;
}

.tab-content > .tab-pane {
    float: left;
    width: 100%;
    display: none;

}

.tab-content > .tab-pane.active{
    display: block;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px -2px rgba(255, 255, 255, 0.15);
}
.nav .nav-tabs >ul{
    display: inline-block;
    padding: 10px;
}
.holiday-date {
    display: inline-block;
    padding: 10px;
}
